################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerceMicroService/.vs/eCommerceMicroService
/.vs
/eCommerceMicroService/eCommerce.SharedLibrary/obj
