################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerceMicroService/.vs/eCommerceMicroService
/.vs
/eCommerceMicroService/eCommerce.SharedLibrary/obj
/eCommerceMicroService/.vs/ProjectEvaluation
/eCommerceMicroService/eCommerce.SharedLibrary/bin/Debug/net8.0
/eCommerceProductAPI/.vs/eCommerceProductAPI/CopilotIndices/17.14.1431.25910
/eCommerceProductAPI/.vs/eCommerceProductAPI/DesignTimeBuild
/eCommerceProductAPI/.vs/eCommerceProductAPI/FileContentIndex
/eCommerceProductAPI/.vs/eCommerceProductAPI/v17
/eCommerceProductAPI/.vs/ProjectEvaluation
/eCommerceProductAPI/ProductAPI.App/bin/Debug/net8.0
/eCommerceProductAPI/ProductAPI.Domain/bin/Debug/net8.0
/eCommerceProductAPI/ProductAPI.Domain/obj/Debug/net8.0
/eCommerceProductAPI/ProductAPI.Domain/obj
/eCommerceProductAPI/ProductAPI.Infrastructure/bin/Debug/net8.0
/eCommerceProductAPI/ProductAPI.Infrastructure/obj
/eCommerceProductAPI/ProductAPI.Presentation/bin/Debug/net8.0
/eCommerceProductAPI/ProductAPI.Presentation/obj
/eCommerceProductAPI/ProductAPI.App/obj
/eCommerceProductAPI/ProductAPI.Presentation/Properties
